<header>
    <div id="header-title">
        <a href="/">
            <img src="/assets/saturnine.png" />
            <span>saturnine.rocks</span>
        </a>
    </div>
    <nav id="header-nav">
        <ul>
            <li>
                <a href="/daily"><small>Daily</small></a>
            </li>
            <li>
                <a href="/albums"><small>Albums</small></a>
            </li>
            <li>
                <a href="/artists"><small>Artists</small></a>
            </li>
            <li>
                <a href="/graph"><small>Graph</small></a>
            </li>
            <li>
                <a href="/archive"><small>Archive</small></a>
            </li>
        </ul>
    </nav>
    <hr />
</header>
