<header>
    <div id="header-title">
        <a href="/">
            <img src="/assets/images/saturnine.png" />
            <span>saturnine.rocks</span>
        </a>
    </div>
    <nav id="header-nav">
        <search>
            <form action="/search" method="get">
                <input
                    type="search"
                    id="query"
                    name="q"
                    placeholder="Search for..."
                    autocomplete="off"
                />
                <button type="button" for="query" onclick="close_search()">✕</button>
            </form>
        </search>
        <ul>
            <li>
                <a href="/daily"><small>Daily</small></a>
            </li>
            <li>
                <a href="/specials"><small>Specials</small></a>
            </li>
            <li>
                <a href="/blog"><small>Blog</small></a>
            </li>
            <li onclick="open_search()">
                <a><small>Search</small></a>
            </li>
        </ul>
    </nav>
    <hr />
</header>
<script>
    async function open_search() {
        document.querySelector("search").setAttribute("open", "");
        document.querySelector("search input").focus();
    }
    async function close_search(){
        document.querySelector("search").removeAttribute("open");
    }
</script>
