@import url("/assets/Rowdies/font.css");

:root {
    --width: 1200px;
    --border-color: #d0d7de;
    --background-color: white;
    --primary-color: #eec98c;
    --header-background: #31342f;
}

* {
    margin: 0;
}

html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Cantarell", sans-serif;
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--header-background);
}

header img {
    height: 48px;
    width: auto;
}

header hr {
    width: 100%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid var(--border-color);
}

footer {
    display: flex;
    background-color: var(--header-background);
}

footer > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: var(--width);
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.5);
}

footer a {
    color: var(--primary-color);
}

img {
    width: 100%;
    height: auto;
}

search {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
}

search[open]{
    display: flex;
}

search form{
    display: flex;
    width: 100%;
    max-width: var(--width);
    margin: 0 auto;
}

search button{
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border: none;
    cursor: pointer;
}

search input{
    display: flex;
    flex: 1 1 auto;
    border: none;
    outline: none;
    padding: 0 1rem;
}

#header-nav {
    position: relative;
    background-color: #fff;
}

#header-nav ul {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0.5rem;
}

#header-nav li {
    display: flex;
    align-items: center;
}

#header-nav a {
    color: rgba(0, 0, 0, 0.5);
}

#header-nav a:hover {
    color: var(--primary-color);
}

#header-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: var(--width);
    box-sizing: border-box;
    user-select: none;
}

#header-title a {
    display: contents;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    color: #fff;
    text-decoration: none !important;
}

#graph-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
}

#graph-button:hover {
    opacity: 0.6;
}

#graph-button img {
    height: 24px;
    width: auto;
}

/* Content */
.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: var(--width);
    margin: 0 auto;
    padding: 2rem 1rem;
    box-sizing: border-box;
    font-family: sans-serif;
}

.rendered {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Posts */
.post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.post {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.post:first-child {
    flex-direction: column;
}

.post div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.post div a{
    width: min-content;
}

.post time,
.post small {
    color: #909090;
    font-size: small;
    font-weight: 700;
}

.post a {
    color: inherit;
    display: flex;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 500;
}

.post a:hover {
    color: inherit;
    text-decoration: underline;
}

.post img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    /* placeholder */
    background-image: url("/assets/dithered/placeholder.png");
}

@media (min-width: 768px) {
    .post {
        grid-column: span 1;
    }

    .post:first-child {
        grid-column: span 3;
        flex-direction: row;
    }

    .post:first-child a {
        font-size: xxx-large;
        font-weight: 700;
    }

    footer > div {
        flex-direction: row;
        text-align: end;
    }
}
