---
layout: default
---

<div class="container">
    <div align="center" class="post-header">
        <h1>{{ page.title }}</h1>
        <time class="date">{{ page.date | date: "%B %d, %Y" }}</time>
        <small>{{ page.categories[0] | upcase }}</small>
    </div>
</div>
<img class="post-img" src="{{ page.image | default: '/assets/dithered/saturnine-rocks.png' }}" />
<div class="container">
    {{ content }}
</div>

<style>
    .post-header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .post-header small,
    .post-header time {
        color: #909090;
        font-size: small;
        font-weight: 700;
    }

    .post-header h1 {
        font-size: xxx-large;
    }

    .post-img {
        max-height: 400px;
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
    }
</style>
