---
layout: default
---

<script defer src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
<script defer src="/assets/scripts/search.js"></script>
<div class="container">
    <p>Results for: <strong id="results-for"></strong></p>
    <ul id="results"></ul>
</div>
<style>
    #results {
        display: grid;
        gap: 1rem;
        padding: 0;
        list-style-type: none;
    }

    #results li {
        display: grid;
    }

    #results li time{
        color: #909090;
        font-weight: 500;
    }
</style>
